@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';;

html {
  scroll-behavior: smooth;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.gradientq {
  max-width: 250px;
  padding: 1rem;
  color: white;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgb(68, 0, 255), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}


.gradientq1 {
  padding: 1rem;
  color: white;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgb(68, 0, 255), 
      rgb(0, 115, 255), 
      rgba(0, 0, 0, 0.76)
    ) 1;
}
